
*{
  font-family: 'Lato','sans-serif'!important;
 }

/*utility Classes -Start*/
	/*margin Classes */
	
.padding-left-25{
	padding-left: 25px;
}
.margin-top-1{
      margin-top: 1%;
}
.margin-top-2 {
	margin-top: 2%;	
}
.margin-top-4{
    margin-top: 4%;
}
.margin-top-5{
	margin-top: 5%;
}
.margin-top-7{
	margin-top: 7%;
}
.margin-top-20{
	margin-top:20%
}
.margin-top-px-22{
	margin-top:22px;
}
.margin-top-px-10{
	margin-top:10px;
}
.margin-top-px-5{
	margin-top:5px;
}
.margin-top-px-11{
	margin-top:11px;
}
.margin-top-px-20{
	margin-top:20px;
}
.margin-top-px-30{
	margin-top:30px;
}
.margin-top-px-40{
	margin-top:40px;
}
.margin-top-px-25{
	margin-top:25px;
} 


.margin-right-2{
	margin-right: 2%;
}
.margin-right-5{
	margin-right: 5%;
}
.margin-right-negative-5{
	margin-right: -5%;
}
.margin-right-6{
	margin-right: 6%;
}
.margin-right-9{
	margin-right: 9%;
}
.margin-right-px-10{
	margin-right: 10px;
}
.margin-right-40{
	margin-right: 40%;
}

.margin-bottom-10{
	margin-bottom:10px!important;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.margin-bottom-40{
	margin-bottom:40px!important;
}
.margin-left-1{
	margin-left: 1%;
}

.margin-left-optcovs-7{
	margin-left: 7%;
}
.margin-left-7{
	margin-left: 7%;
}
.margin-left-4{
	margin-left: 4%!important;
} 
.margin-left-60{
	margin-left: 60%;
}
.margin-left-px-10{
	margin-left:10px;
}
.margin-left-px-15{
	margin-left:-15px;
}
.margin-left-px-20{
	margin-left:20px;
}
.margin-left-px-170{
	margin-left:170px;
}

.padding-left-px-5{
	padding-left: 5px;
}
.padding-left-7{
	padding-left: 7px;
}
.padding-left-12{
	padding-left: 12px!important;
}
.padding-left-15{
	padding-left: 15px!important;
}
.padding-top-px-20{
	padding-top: 20px!important;
}
.padding-top-px-10{
	padding-top: 10px!important;
}
.padding-right-px-10{
	padding-right: 10px!important;
}
.displayNone{
	display:none;
}
.width-100{
	width: 100%!important;
}
.width-50{
	width: 50%!important;
}
.width-80{
	width: 80%!important;
}
.width-40{
	width: 40%!important;
}
.width-45{
	width: 45%!important;
}
.width-47{
	width: 47%!important;
}
.width-15{
	width: 15%!important;
}
.width-16{
	width: 16%!important;
}
.width-19{
	width: 19%!important;
}
.width-38{
	width: 38%!important;
}
.width-2{
	width: 2%!important;
}
.width-25{
	width: 25%!important;
}
.width-px-105{
	width: 105px!important;
}
.width-px-275{
	width: 275px!important;
}
.width-initial{
	width: initial;
	width: auto;
}
.left-50{
	left:50%!important;
}
.table-row{
	display: table-row;
}
.table-col{
	display: table-cell;
}
.removePaddingLeftRight{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.removePaddingRight{
  padding-right: 0 !important; 
} 

.removePaddingLeft{
  padding-left: 0 !important;
}
.removePadding{
  padding: 0 !important; 
}
.removeMargin{
  margin: 0 !important; 
}
.removeMarginLeftRight{
  margin-left: 0px !important; 
  margin-right:0px !important
}
.text-align-right{	
    text-align: right;
} 
.text-align-center{	
    text-align: center;
} 
.font-weight-600{
	font-weight:600 !important ;
}
 .font-weight-bold{
	font-weight:bold;
} 
.YesOrNoBox-input, .noOfUnitsRadio, .dwellingUsageRadio, .noOfClaimsRadio{
	opacity:0.011;
	position:absolute;
	height: 100%;
    width: 100%!important; 
}
.YesOrNoBox-label{
	height:inherit;
	width: inherit;
}
.opacityPosition{
	opacity:0.011;
	position:absolute;
} 
.listTypeNone{
	list-style-type:none
}
.height-120{
	height:120px!important;
}
.height-47{
	height:47px!important;
}
.height-px-495{
	height:495px!important;
}
.height-625{
	height:625px;
}
.height-auto{
	height:auto!important;
}
.height-66.5{
	height:66.5%!important;
}
.height-96{
	height: 96.67%;
}
.white-space-nowrap{
	white-space:nowrap;
}
.visibilityHidden{
	visibility: hidden;
}
.saveChanges_Button{
	height: 35px;
    background: inherit;
    background-color: #ff6f2a !important;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 10px;
    box-shadow: 5px 3px 1px #888888;
    font-weight:700;
}

.saveChanges_Button:hover{
	background-color: #ff5808 !important;
}

.saveChanges_Button:focus{
	outline:0;
}

.deleteCoverage_Button{
	height: 35px;
    background: inherit;
    background-color: #b90202;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 10px;
    box-shadow: 5px 3px 1px #888888;
    font-weight:700;
}

.deleteCoverage_Button:hover{
	outline:0;
}



/* untility classes -End */
/* #globalHeaderContent {
    margin-left : 11%;
    padding: 0;
    width: 100%;
} */
/* #globalHeaderTop {
    width: 100% !important;
} */
/* .orange-bar {
    position: absolute;
    top: 10%;
    height: 17px;
    width: 100%;
    max-width: 100%;
    background-color: #FF6319;
    margin-left: 15px;
} */
.orange-bar {
    position: absolute;
    height: 17px;
    background-color: #FF6319;
    margin-left: 8%;
}
#formBody{
	background-image: url(../../images/AI2FormBody.png); 	
    background-repeat: repeat-y;
    background-position: left;
    width: 100%;
    min-height: 100%;
    margin-top: -5px;
    /* *margin-top: -30px; */
    }
#formBottom{
    background-image: url('../../images/AI2FormBottom.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 16px;
}
/* #formTop{
    background-image: url(../../images/AI2FormTop.png);
    background-repeat: no-repeat;
    background-position: 0 -10px;
    height: 50px;
 
    
} */
.hearderrightMobile{
	border: 1px solid rgba(0, 122, 201, 1);
    background-color: rgba(0, 122, 201, 1);
    margin-left: 5px;
    width: 100%;    
    margin-top: 15px;
}
.hearderrightMobile-quote{
	border: 1px solid rgba(0, 122, 201, 1);
    background-color: rgba(0, 122, 201, 1);   
    margin-top: 9px;
}

.quoteNumberMobile{
	 color: white;
	 padding: 1%;
	 /*width:70%;*/
}

.landingListGroup {
	position: relative;
    display: block;
    padding: 0px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0);
    border: none;
}
.pageWrapper {
    margin: 0 auto;
    padding: 0;
    width: 79.18%;
    overflow-x: hidden;
}
div#consumerLandingView {
    width: 57%;
    margin-left: auto;
    margin-right: auto;
}
.colInputLanding,
input.colInputLanding {
    text-indent: 5px;
    text-align: middle;
    width: 44%;
    min-width: 20%; 
    max-width: 100%;
    height: 40px !important;
    min-height: 40px !important;
    max-height: 40px !important;
    padding: 0 !important;
    margin: 0  !important;
    font-size: 12px;
    line-height: 40px !important;
    font-weight: normal;
    font-style: normal;
    color: #333333;
    *overflow: visible;
}
.hearderrightMobile-navbar {
	position: relative; */
    float: right;
    padding: 9px 10px;  
    margin-top : 9px;  
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    margin: 0px;
}
.mainContentLanding{
    margin-top: 112px;
    /*margin-top: 98px;*/
    margin-left: 28px; 
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.mainContentConsumer{
	margin-top: 136px;
    margin-left: 28px; 
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
}
#mainContent-quote{
    margin-top: 152px;
    /*margin-top: 98px;*/
    margin-left: 28px; 
    margin-right: 20px;
    padding-top: 50px; 
    padding-bottom: 100px;
}

.consumerPolicySection {
	display: table;
	width: 100%;
}
/* date field */
input.colDateFieldLanding {
   text-indent: 5px;
    text-align: middle;
    min-width: 58%; 
    max-width: 100%;
    height: 40px !important;
    min-height: 40px !important;
    max-height: 40px !important;
    padding: 0 !important;
    margin: 0 0 0 54px !important;
    font-size: 12px;
    line-height: 40px !important;
    font-weight: normal;
    font-style: normal;
    color: #333333;
    *overflow: visible;
    
}

.userInfoBox, #userInfoBox {

       border-radius: 3px;
    padding-top: 7px;
    padding-left: 7px;
    font-size: 11px !important;
    color: #333;
    font-weight: bold;
    line-height: 15px;
    float: right;
    background-color: #efefef;
    border: 1px solid #ccc;
}

#rateButton{
    display: inline-block;   
    float: right;   
    margin-right:-78px;
    margin-top:11px; 
}

.rateButtonForms{
	margin-top: 5px !important;
}

#globalHeaderBottomConsumer {  
	width: initial; 
	width: auto; 
    margin-top: 8px;
}
#tabPanel {    
    margin-right: 10%;
    margin-top: 12px;
}
.rateBtn-rightAlignIcon,
.rateBtn-rightAlign {
    font-weight: bold;
    min-width: 110px;
    text-transform: capitalize;
    font-size: 23px;
    text-align: right;
    padding: 5px 4px 0 0;
    height: 45px;
}
input#policyEffectiveDate {
    text-indent: 5px; 
    height: 21px !important;
    min-height: 21px !important;
    max-height: 21px !important;
    padding: 0 !important;
    margin: 0  !important;
    font-size: 12px;
    line-height: 21px !important;
    font-weight: normal;
    font-style: normal;
    color: #333333;
    *overflow: visible;
}
/*div#rentersQuotePropertyCoverage{
  	width: 40%;
}*/
.dogBreedOptions {

    height: 170px;
    background: inherit;
    /*background-color: rgba(246, 246, 246, 1);*/  
    background-color: rgba(191, 194, 189, 1);   
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    /*border-color: rgba(215, 215, 215, 1);*/
    border-color: rgba(191, 194, 189, 1);
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
   /* position: absolute;*/    
    box-shadow: none;
}
.noOfUnits li{
	float: left;
    width: 64px;
    height: 48px;
    position: relative;
}
.noOfUnits label {
    margin-right: -2px;
    padding-left: 20px;
    padding-top: 18px;    
    border: 1px solid #CCC;
    border-width: 1px;
    border-style: solid;
}

.dwellingUsage li{
	float: left;
    width: 92px;
    height: 57px;
    position: relative;
}
.dwellingUsage label {
    padding-top: 10px;    
    border: 1px solid #CCC;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.optCov_Help_Icon {
    margin-top: 30px;
    margin-left: -10px;
    position: absolute;
    z-index: 1
 }
.optCovIconDiv {
    height: 100%;
    width: 11%;
    float: left;
    padding: 10% 0 0 0;
    color: #007ac9;
}
.optCovDescDiv {
    float: left;
    height: 100%;
    width: 69%;
    	
    /* W3C */
	display:box;
	box-pack:center;
	box-align:center;
   /* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}
.viewAvailableDiscountsBox {
	float: left;
    margin-top: 0!important;
	border: 1px solid;
	height:55px;
	border-color: rgba(215, 215, 215, 1);
	background-color: rgba(255, 255, 255, 1);	
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
	
}
.optCovDiv{
  height: 55px;
  border: solid 1px #c1c1c1;
  margin-left: 0px;
  margin-top: 4%;
  background-color: rgba(255,255,255,1);
}
.viewAvailableDiscountsButton {    
    width: 100%;
    background-color: inherit;
    border: none;
    font-size: 14px;
    color: #007AC9;
    line-height: 18px;
  }
 .additionalInformation_header{
 	font-size: 16px;
    line-height: 21px;
    margin-left: 0;
    margin-bottom: 0;
    color: #333;
    font-style: normal;
 }
 .input-text{
 	height: 34px!important;
	max-height : 34px!important;
	border-radius: 4px!important;
    border: 1px solid #ccc;
 }
 .end_Form_HelpContent_Link{
 	color:rgb(51, 51, 51);
 	text-decoration: underline;
 }
 body{
	padding: 0px !important;
 }
 .modal-open {
    overflow: inherit;
 } 
 .MandatoryCoverageDialog{
 	top: 25%;
 }
.exitPromptModal {
	 border: 2px solid #017bca;
	 width: 65%;
}
.exitPromptButton{
	font-size: 15px;
    font-weight: bold;
    width: 25%;
}
.modal.fade-home {
    top: 25%;
}

.btn-ConsumerView{
	background-color: #73b9e4;
	font-weight: bold;
	color: #2c6b91;
}
.viewDiscounts{
	font-weight:normal!important;
	font-size: 14px;
}
.addressNotFoundNQModalBody{
	padding-top: 0px;
	margin-bottom: 10px;
	margin-left: 28px;
	margin-right: 10px;
}
.addressNotFoundNQ-content{
	border: 2px solid #017bca;
	width: 70%;
}
.addPriorSsnNQButton{
	font-size: 15px;
    font-weight: bold;
    width: 40%;
}
#dogBiteRequiredArrow{
	margin-top: 3%; 
	margin-left:-6%;
}
#eDocRequiredArrow{
	margin-left: -5%;
    margin-top: 1%;
}
.commissionCode{
	background-color: #efefef;
    font-size: 11px;
    font-weight: 700;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 4px;
	width:15%;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 960px) { 
	#logoSectionConsumer{
		padding-left: 0px;
	}
	
  
}
/* Small Devices, Tablets */
@media only screen and (max-width : 959px) {
	
}

@media only screen and (min-width : 768px) and (max-width : 1023px) {
	input.colDateFieldLanding{
		margin: 0px;
	}
	#hearderrightDesk{
		width:32%;
		margin-top: -12%;
	}
	#schPropDialog{
		width:70%!important;
	}
	
}
@media only screen and (max-width : 767px) {

 #quoteRatePanelDivDesk{
    display: none !important;
  }
  
  #consumerFirstName{
  	width: 91% !important;
}
  
  #consumerLastName{
  	width: 91% !important;
  }
  
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  body {
  	background-color: rgba(247, 247, 247, 1);
  }
  #formBody, #formBottom, #formTop {
  	background-image: none;
  }
  #quoteRatePanelDivDesk, #hearderrightDesk, div#formTop{
    display: none !important;
  }
  #consumerFirstName {
  	min-width: 91%;   
    margin-bottom: 20px!important;
  }
  #consumerLastName{
  	min-width: 91%; 
  }
  #consumerDOB{
  	min-width: 91%;
  	margin-left: 0px;
  }
  div#consumerLandingView {
    width: inherit;
    margin-left: auto;
    margin-right: auto;
  }
  #logoConsumer{
  	display: none !important;
  }
  #logoConsumermobile,#hearderrightMobile{
  	display:block;
  }
  #mainContent{
  	margin-left:0px;
  	margin-right:0px;
  	margin-top: 80px;
  	/* padding-top: 10px;
  	margin-top: 98px; */
  }
  #mainContent-quote {    
    margin-top: 98px;
    margin-left:0px;
  	margin-right:0px;
  	padding-top: 10px;
  }
  #hearderleftMobile{
	display:block;
  }
  #hearderleft{
	display: none !important;
  }
  .mainContentLanding{
	margin-top: 0px!important;
  }
  .globalHeader {
/*     position: absolute;
 */    height: inherit;
  }
  .hearderrightMobile-navbar{
  	padding-top: 5%;
    padding-right: 0%;
  }
  div#consumerQuoteBtnHomeOwner{
  	    margin-left: 25%;
  }
  /* quote page responsive styles */
 	/* Header */
 	.actionContentConsumer, #homePolicyIconHeader, #tabPanel, #fixedPageHeader, table#addressTable, table#addressTableDisplay, 
 	table#policyEffectiveDateDisplay, table#clientInformationDisplay{
 		display: none !important;
 	}
 	 #logoConsumermobile, #rateButtonMobile, #addressTableDisplayMobile, #policyEffectiveDateDisplayMobile,
 	 #clientInformationMobile{
  	display:block;
  	}
  	.actionContentConsumerMobile{
  		display: block;
  	}

  	input#policyEffectiveDate {
  		min-width:auto;
  		    width: 25%;
  	}
  	div#rentersQuotePropertyCoverage{
  		width: 100%;
  	}
  	/*div#bitingHisQtn-div{
  		margin-top: 120px;
   }*/
   .margin-left-optcovs-7{
   		margin-left: 1%;
   }
   div#optionalCoverages > div.optCovDiv{
   		width:88%;
   }
   div.optCov_Help_Icon_div > img{
   		margin-top:30px;
   }
	.additionalCoveragesButton{
		border-right-width: inherit!important;
	    border-right-style: inherit!important;
	    border-right-color: inherit!important;
    }
    #dogsOwn-div{
    	/* width:100%!important; */
    }
    #dogBreedQtn_Yes_No_Div{
    	width: 100%!important;	
    	margin-top: 10px;
    	padding-left: 0px;
    }
    #bitingHisQtn-div{
       width:100%!important;
       margin-top: 20px;	
    }
    #dogBreedQtn_Error, #bitingHisQtn_Error{
    	padding:0px!important;
    }
    #popup_Buttons{
    	margin-left:7%;
    }
    #optCoverageSL1Popup{
    	overflow-y: scroll;
    }
    #saveOptCoverage_MOLD_Popup{
    	margin-left:0px;
    }
    #applied_Discounts{
    	margin-top: 10px;
    }
    #Selected_Opt_Coverages{
    	height:auto!important;
    	min-height:50px!important;
    	margin-bottom:20px;
    }

/*delete coverage button*/
	#coverage_delete_confirm_BUS_PUR, #coverage_delete_confirm_SPL_LMTS1, #coverage_delete_confirm_OWN_SW, #coverage_delete_confirm_WATERCFT,
	##coverage_delete_confirm_COVC_SPP, #coverage_delete_confirm_OTHR_LOC_P, #coverage_delete_confirm_STRUC_RENT, #coverage_delete_confirm_OFF_PRM_SP,
	#coverage_delete_confirm_INC_OCPNCY, #coverage_delete_confirm_OTHR_STRUP, #coverage_delete_confirm_LOS_ASMEQ, #coverage_delete_confirm_LOSS_ASMT1{
		margin:0px!important;
		left: 12%!important;
		top: 30%!important;
	}
    
 	#rentersQuotePropertyCoverage input.cvgColInput{
 		width: 179px!important;
    	min-width: 100px!important;
   	 	max-width: 185px!important;
 	}
 	#rentersQuotePropertyCoverage select.covColSelect{
 		width: 179px!important;
    	min-width: 100px!important;
   	 	max-width: 185px!important;
 	}
 	#optCoverage_DOM_PART_Popup{
 		left:40%!important;
 	}
 /* Help Content  */
	#close_PropCovs_HelpContent{
		margin-left: 14%!important;
	}
	
	div.deleteCoverageYesorNoModal{
		left: 10%!important
	} 
	div#viewPropertyDetailsDlg div.text-align-right{
   		text-align:left!important;
   	}
   	#bindModal div.exitPromptModal, #exitPromptModal div.exitPromptModal {
   		width: inherit;
   	}
   	div#streetName-div, div#state-div, div#zipcode-div {
	    margin-top:1%;
	}
	#eDocsYesNoDiv li{
		width: 64px !important;
	}
	#eDocsYesNoDiv label{
		padding-left: 15px !important;
	}
	div#confirmAddressDialog button#cancelButton{
		margin-top:2%!important;
		margin-bottom: 2%!important;
		margin-left: 0px!important;
	}
	div#confirmAddressDialog button#selectSuggestion{		
		margin-left: 0px;
		margin-bottom: 3%;
	}
	#declineMessage{
		padding-left: 16%!important; 
	}
	.commissionCode{
		margin: 22% 0 0% 61%;
	}
	#eDocsModal{
		height: 27%;
		left:0px;		
	}
		

}

/* Extra Small Devices, Phones -Iphone 5  */ 
@media only screen and (min-width : 320px) and (max-width : 568px) {
	.consumerPolicySection input{
		min-width:0px;
		padding-left: 34px;
    	letter-spacing: 0px;
    	padding-right:18px;
	}
	.consumerPolicySection > div.row {
		/* width :92% */
	}
	.consumerPolicySection >input#HO3 {
		width: 115px;
	}
	.consumerPolicySection >input#HO4 {
		width: 80px;
	}
	#dogBiteRequiredArrow{
		margin-left: 3%;
		margin-top: 18.5%;
	}
	#eDocRequiredArrow{
		margin-top: 5%;
    	margin-left: 0%;
	}
	.opCov_Help_Icon_PopUp{
		margin:  68px 0px 0px -197px !important;		
	}
}
/* Extra Small Devices, Phones -Nexus Phones  */ 
@media only screen and (min-width : 412px) and (max-width : 732px) {
	#dogBiteRequiredArrow{
		margin-left: -5%;
		margin-top: 9.5%;
	}
	#eDocRequiredArrow{
		margin-top: 5%;
    	margin-left: -5%;
	}
}
/* Navigation bar  */ 
.HO-NavTabs{
	color: white;
	font-weight: bolder;
}

/* new modifications */

/* Devices less than 768 px (xs) */
@media only screen and (max-width : 767px){
	
	#hearderrightMobile{
  		display:block;
 	}
 	
 	#LandingHeaderQuoteNum{
 		display:none;
 	}
 	
 	body {
  		background-color: rgba(247, 247, 247, 1);
    }
    
    #logoSectionConsumer{
    	/* margin-left: -39px; */
    }
    
    #formBody{
    	background-image: none;
    }
    
    #headerBottom{
    	display: none;
    }
    
    /* id's for tabs in quote and bind page */
    .actionContentConsumerMobile{
    	display: block;
    }
    #globalHeaderBottomConsumer{
    	display: none; 
    }
    
    /* Annual premium */
    #rateButtonMobile{
    	display: block;
    }
    
   /*  AI */
    #actionContent{
    	display: none;
    }
    #homeQuoteSearch{
    	display: none;
    }
    #globalHeaderContent{
    	margin-top: 10px;
    }
    #homeBreadCrumb{
    	display: none;
    }
    .hometabs{
    	display: none;
    }
    
    .consumerFormBody{
    	margin-top: 12px !important;
    }
    
    #orangeBar{
    	display: none;
    }
    
    div#consumerLandingView {
	    width: inherit;
	    margin-left: auto;
	    margin-right: auto;
	}
		
	.optCovIconDiv{
		padding: 5% 0 0 0 !important;
	}
	
	#homePolicyIconHeader{
		display: none !important;
	}
	#homePolicyIconHeader-div{
		display: none !important;
	}
	
	#topBar{		
		display: none !important;
	}
	
	.colInput, input.colInput {
	    text-indent: 5px;
	    text-align: middle;
	    width: 155px!important;
	    min-width: 100px;
	    max-width: 230px;
	    height: 21px !important;
	    min-height: 21px !important;
	    max-height: 21px !important;
	    padding: 0 !important;
	    margin: 0 !important;
	    font-size: 11px;
	    line-height: 21px !important;
	    font-weight: normal;
	    font-style: normal;
	    color: #333333;
	}
	
	.covColSelect, .covColSelect_Popup , .cvgColInput{
		min-width: 100px !important;
		width: 180px !important;
	}
	
	.agentInfoLabel{
		width: 68px !important;
	}
	
	.chosen-container{
		min-width: 100px !important;
	}
   	div#COVC_SPP_Schl_Type_chosen.chosen-container{
   		width:80%!important;
   	}
   	#expPremiumSection, #expPremium{
   		margin-top:0px;
   	}
   	#declineMessage{
		padding-left: 16%!important; 
	}
	.consumerRateDisplay{
		line-height : 17px!important;
	}
   
	.consumerPolicySection > div > div {
		margin-bottom: 8px;
}

	.consumerPolicySection > div > div > input {
		width: 96%;
	}
	
	.colInputLandingAddress, input.colInputLandingAddress{
		min-width: 95% !important;
	}
   
}

@media only screen and (min-width : 768px){
	 .actionContentConsumerMobile{
    	display: none;
    }
   
}
/* screen between 768 and 1024 px's -Ipads*/
@media only screen and (max-width: 1023px) and (min-width: 767px){
	 #dogBiteRequiredArrow{
		margin-left: -3%;
		margin-top: 7.5%;
	}
	#eDocRequiredArrow{
		margin-left: -3%;
		margin-top: 1%;
	}
	.opCov_Help_Icon_PopUp{
		margin:  80px 0px 0px -234px !important;		
	}
	#optCovDivId_COVC_SPP{
		margin-left: 42px !important;	
	}
	.optCov_Help_Icon{
		margin-top: 39px !important;	
	}
	.commissionCode{
		margin: 1% 0 0 52%;
	}
	.pageWrapper{
		margin-top: 7px;
	}
	#showSignEFT{
		height:34%;
    	left: 28%;
	}
	#eDocsModal{
		height: 27%;
		left: 28%;
	}
	 .actionContentConsumer{
		margin-top: -1%!important;
		border-width: 0px;
	    height: 74px;
	    background: inherit;
	    background-color: #ff6f2a;
	    border: none;
	    border-radius: 50px;
	    width: 25.1%;
	    box-shadow: 5px 6px 5px #888888;
	    margin-right: 0%;
	    outline: 0;
	    padding-top: 13px;
	    padding-left:0px;
		} 
	.premAmtConsumer{
		font-size: 34px;
		color:#fff;
	}
}	

/* screen between 768 and 992 px's */
@media only screen and (max-width: 993px) and (min-width: 767px){
	
	.headerHeightSmScrn{
		height: 236px;
	}
	
	#headerBottom{
		width: 80.95% !important;
		margin-top: 36px;
	}
	div#streetName-div, div#state-div, div#zipcode-div {
	    margin-top:1%;
	}
	
	
}
/* screen between 768 and 992 px's */
@media only screen and (max-width: 768px) and (min-width: 480px){
	
	.Tick_box_tile_amount_checked label{
		    padding: 28% 0 0 23% !important;
	}
	div#streetName-div, div#state-div, div#zipcode-div {
	    margin-top:1%;
	}
	
	
}


#headerBottom{
	border-top: 2px solid #999;
    height: 27px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    width: 80.50%;
    margin-left: 10.1%;
    border-radius: 6px 6px 0 0;
    margin-top:-7px;
}
.rateRenterHome{
	width: 137%;
    border-width: 0px;
    height: 85px;
    border: none;
    border-radius: 50px;
    box-shadow: 5px 6px 5px #888888;
    outline: 0;
    background-color: #ff6f2a !important;
}

.rateRenterHome:hover{
	transform:scale(1.12);
	background-color: #ff5808 !important;
}

.rateRenterHome:focus{
	outline :0!important;
}

.rtBtnEndo{
	height:98px !important;
	margin-top:-8px;
}

.navbar-nav>li>a:hover{
	background-color: orange;
}


/* screen between 768 and 992 px's */
@media only screen and (max-width: 1240px) and (min-width: 992px){
	
	.addIntSmScreen{
		margin-left: 6%;
	}
	
	.addIntSmScreenRmvLeftPadding{
		padding-left: 0px;
	}
	/*#dogsOwn-div{
		width:19%!important;
	}*/	
}
/* screen at 768px */
@media only screen and (max-width: 843px) and (min-width: 768px){
	
	div#consumerLandingView {
	    width: 86%;
	    margin-left: auto;
	    margin-right: auto;
	}
	
	
}

@media only screen and (min-width: 843px) and (max-width: 992px){
	
	div#consumerLandingView {
	    width: 86%;
	    margin-left: auto;
	    margin-right: auto;
	}
	
	 #rentersQuoteNxtBtn{
	   margin-top: 13px;
} 
	
	
}
/*ipad pro*/
@media only screen and (max-width: 1366px) and (min-width: 1024px){
	

	#dogBiteRequiredArrow{
		margin-top: 3.5%;
    	margin-left: 0%;
	}
	#eDocRequiredArrow{
		margin-top: 1%;
    	margin-left: 0%;
	}
	/*.pageWrapper{
		margin-top: 16px;
	}*/
	.commissionCode{
		margin: -2.3% 0 0 55.9%;
	}
	#showSignEFT{
		height: 19%;
    	left: 28%;
	}
	#eDocsModal{
		height: 27%;
		left: 28%;
	}
	.premAmtConsumer{
		font-size: 39px;
		color:#fff;
	}
	#consumerView{
	margin-top: 8px;	
	} 
	
}
/*DESK*/
@media only screen and (max-width: 1280px) and (min-width: 1280px){
	#dogBiteRequiredArrow{
		margin-top: 3%; 
		margin-left:-6%;
	}
	#eDocRequiredArrow{
		margin-left: -5%;
	    margin-top: 1%;
	}
	.premAmtConsumer{
		font-size: 280%;
	}
	.rateRenterHome-consumer{
		padding-top:20px;
		color:#fff;
	}
	
	 #rentersQuoteNxtBtn{
	   margin-top: 13px;
} 
}

/* --------- XLARGE SCREENS---------*/

@media only screen and (min-width: 1920px) {
	.premAmtConsumer{
		font-size: 280%;
	}
	
	.consumerRateDisplay-AnnualPremium {
	   font-size: 100%;
	}
	
	.commissionCode{
	  float:right;
	  margin-right:29%;
	  margin-top:-3.4%;
    }
    
    .rateQuoteButton {
	    margin-top: -70% !important;
	    margin-left: 54px !important;
    }
    
    .rateQuoteButtonForms{
	    margin-top: -57% !important;
	    margin-left: 54px !important;
    }
    
    #headerBottom{
      width:79.9% !important;
      margin-left:10.4% !important;
      margin-top:-2px !important;
    }
    
    .ClickBind{
       margin-right:35% !important;
    }
    
    .panelTab{
      margin-top:43px !important;
      margin-right:10px !important;
    }
    
   /*  .infoRenter{
      margin-top:6% !important;
    } */
    
    .userBox{
       margin-top:16px !important;
    }
    
    .rateRenterHome {
     width: 85%;
    } 
    
    #mainContent{
      margin-top:14% !important;
    }
    
    .rentersIssue{
       margin-top:-61%;
       margin-left:13%;
    }
    
    .formsBox{
       margin-top:-46px;
    }
    
    #breadCrumbs {
    margin-left: 7px !important;
    margin-top: 37px !important;   
   }   
   
}


/*consumer RateBox */
.consumerRateBox{
	
	margin-top: 26px;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    
    }
.disabledLabel{
	border-color: rgb(153, 153, 153)!important;
    background-color: rgb(221, 221, 221)!important;
    color: rgb(119, 119, 119)!important;
}

.premAmtClass {
    font-size: 130% !important;
    line-height:30px;
}

.applicantNameDate{
	width: 129% !important;
	text-transform:capitalize;
}
.textTransformNone{
	text-transform:none !important;
}

.goBackForm{
	float:right;
	margin-top:20px;
	color:#007ac9;
	font-weight:bold;
	border:none;
	background-color:transparent;
	text-decoration:none;
	font-size:15px;
}

.goBackForm:hover{
	border-style:none !important;
}

.arrowHide{
	display:none !important;
}

.icon-edit{
  background: transparent url('../../images/icon-edit.png') no-repeat;
  vertical-align: top;
  width: 25px !important;
  margin: 5px 5px 5px -6px;
  height: 25px;
  border: 0px;
  cursor: pointer;
}

.icon-x{
  background: transparent url('../../images/icon-x.png') no-repeat;
  vertical-align: top;
  width: 25px !important;
  height: 25px;
  margin: 5px 5px 5px -6px;
  border: 0px;
  cursor: pointer;
}




